# ====================================================================
# MongoDB Connection Configuration (Template)
# ====================================================================

# Local MongoDB Compass connection
MONGODB_URI=mongodb://localhost:27017/IIT-Hyderabad

# MongoDB Atlas Connection (Production / Cloud)
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/IIT-Hyderabad?retryWrites=true&w=majority&appName=IIT-Hyderabad
